{% extends "layout/full_width.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('mapAnnonce') }}
{% endblock %}

{% block content %}   
    <div class="row">
        {% for annonce in annonces %}
            <div class="card col">
                <div class="card-body">
                    <h5 class="card-title">{{ annonce.title }}</h5>
                    <p class="card-text">{{ annonce.description }}</p>
                    <a href="{{ path('app_annonce_annoncebyslug', {slug: annonce.slug}) }}" class="btn btn-primary">Détail</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="btn btn-primary" id="localizeMe" type="button">Me localiser</button>
    <div id="map" style="height:500px"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mapAnnonce') }}
{% endblock %}
